@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>AboutUs</title>

</head>
<body>
   

    <div class="content">
        <div class="contact">
            <div class="section group">
               
                <div class="col span_1_of_3">
                    <img src="~/images/a1.png">
                 </div>
                    <div class="col span_2_of_3">
                        <h3>YEARS 2010</h3>
                        <p>2013 - Rado further develops its use of ultra-light high-tech ceramic, presenting the DiaMaster RHW1 in ‘old bronze’ coloured Si3N4 TiN. Rado launches the world’s first portable ceramic touch device: the ground-breaking Rado Esenza Ceramic Touch. 2012 - The premiere of Nitrure de Silicium, the ultra-light high-tech ceramic in a limited edition series of the Rado True Thinline. Launch of the Rado HyperChrome, created in a one-piece (monobloc) high-tech ceramic construction. 2011 - Launch of the extra-thin high-tech ceramic watch, the Rado True Thinline. Launch of Rado D-Star; first watch made of Ceramos™, a Rado material combining high-tech ceramic and a metal alloy</p>
                    </div>
                </div>
            
            <div class="section group">

                <div class="col span_2_of_3">
                    <h3>YEARS 2000</h3>
                    <p>2009 - A design oriented collection; the Rado r5.5, designed by the renowned British designer Jasper Morrison. 2008 - The innovative Rado Sintra Gold Jubilé fascinated the world with its new surface made of gold-coloured high-tech ceramic. 2006 - The Rado True combined two completely new technologies; satin-brushed high-tech ceramic and decorated high-tech ceramic. 2005 - The new collection of the classic Rado Original combines timeless design with advanced technologies. 2002 - The revolutionary Rado V10K is made of high-tech diamond, as hard (10’000 Vickers) and resilient as a real diamond. 2001 - The Rado eSenza was the first Rado watch designed without a crown</p>
                </div>
                <div class="col span_3_of_3">
                    <img src="~/images/a2.png">
                </div>
            </div>

            <div class="section group">

                <div class="col span_1_of_3">
                    <img src="~/images/a3.png">
                </div>
                <div class="col span_2_of_3">
                    <h3>YEARS 1990</h3>
                    <p>1999 - The Rado Cerix set a new standard with its sleek, pure design. Its most notable feature was  its spiral-shaped bracelet. 1998 - The Rado Ceramica was the first watch in platinum-coloured high-tech ceramic transformed by a patented plasma treatment. 1996 - The exquisite Rado DiaQueen fascinated the world with a unique combination of high-tech ceramic, gold and diamond. 1995 - Rado won the innovation prize of the Technology Centre Switzerland for its concept watch, the Rado Concept 1, the hardest watch in the world of it's time. 1993 - The Rado Sintra was the first watch made of cermet (titanium based ceramic with metal). 1992 - Rado celebrated the 75th anniversary of the founding of the company Schlup & Co. 1991 - Rado introduced the first white-coloured high-tech ceramic watch in the Rado Coupole collection. 1990 - The launch of the Rado Ceramica designed with complete integration of the watch case and bracelet made of high-tech ceramic and sapphire crystal.</p>
                </div>
            </div>

            <div class="section group">

                <div class="col span_2_of_3">
                    <h3>YEARS 1980</h3>
                    <p>1987 - The Rado Coupole was launched. Its trademark being its dome-shaped sapphire crystal. 1986 - The Rado Integral revolutionised the watch industry with its scratch-resistant sapphire crystal and bracelet made of highly resistant high-tech ceramic. 1983 - Rado became a member of the Swatch Group.</p>
                </div>
                <div class="col span_3_of_3">
                    <img src="~/images/a4.png">
                </div>
            </div>

            <div class="section group">

                <div class="col span_1_of_3">
                    <img src="~/images/a5.png">
                </div>
                <div class="col span_2_of_3">
                    <h3>YEARS 1970</h3>
                    <p>1976 - The first scratch-resistant watch with a patented case construction entirely covered by metalised sapphire crystal -- the Rado Dia 67.</p>
                </div>
            </div>

            <div class="section group">

                <div class="col span_2_of_3">
                    <h3>YEARS 1960</h3>
                    <p>1962 - Rado wowed the world with Rado DiaStar 1, the first scratch-resistant watch made of hardmetal and sapphire crystal.</p>
                </div>
                <div class="col span_3_of_3">
                    <img src="~/images/a6.png">
                </div>
            </div>

            <div class="section group">

                <div class="col span_1_of_3">
                    <img src="~/images/a7.png">
                </div>
                <div class="col span_2_of_3">
                    <h3>YEARS 1950</h3>
                    <p>1957 - Presentation of the first watch collection under the Rado brand name.</p>
                </div>
            </div>


            <div class="section group">

                <div class="col span_2_of_3">
                    <h3>YEARS 1910</h3>
                    <p>1917 - Schlup & Co. clockwork factory was founded in Lengnau.</p>
                </div>
                <div class="col span_3_of_3">
                    <img src="~/images/a8.png">
                </div>
            </div>

        </div>
    </div>
    <div class="clear"> </div>

</body>
</html>
