@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

    <script>
        // You can also use "$(window).load(function () {"
            $(function () {
            // Slideshow 1
            $("#slider1").responsiveSlides({
                maxwidth: 1600,
                speed: 300
            });
        });
    </script>

  
</head>
<body>
  
    <!---start-wrap--->
    <div class="wrap">
        <!---start-header--->
        <div class="image-slider">
            <!-- Slideshow 1 -->
            <ul class="rslides" id="slider1">
                <li><img src="images/wc4.jpg" alt=""></li>
                <li><img src="images/wc3.jpg" alt=""></li>
                <li><img src="images/wc5.jpg" alt=""></li>
                <li><img src="images/wc2.jpg" alt=""></li>
                <li><img src="images/wc1.jpg" alt=""></li>
            </ul>
            <!-- Slideshow 2 -->
        </div>
        <!--End-image-slider---->

    </div>

</body>
</html>
